body{
  background-color: rgb(237, 199, 245);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

header {
  display: flex;
  justify-content: space-between;
  background-image: url(https://i.pinimg.com/736x/b6/71/21/b671214b9f63fc59eb5ef78a530c2d7d.jpg);
  margin: 0;
  height: 40px;
  align-items: center;
  
 } 
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 30px;
  margin-right: 25px;  
  margin-left: 30px;
}
a {
  text-decoration: none;
 color:black;
}
nav a {
  font-weight: 700;
  padding-right: 10px;
}
a:hover {
  color: rgb(213, 56, 69);
}
h1{
    margin-top: 2%;
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;    
    text-align: center;
}
.galeria img{
    width: 280px;
    height:250px;
    margin-top: 3%;
    margin-left:5%;
    border-radius: 5%; 
    border: 2px solid #333;
    transform: rotate(0) scale(1);
  transition: .1s ease-in-out;
  }
.rotar img{  
   width: 280px;
    height:220px ;
    margin-top: 3%;
    margin-left:5%;
    border-radius: 5%; 
    border: 2px solid #333;
}
footer {
    background-color:#A2AF9B;
    text-align: center;
    color: #4e2f07;
    padding: 1%;
    margin-top: 5%;
}
