body{
    background-color: rgb(171, 105, 233);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  margin: 0;
  height: 40px;
  align-items: center;
  padding: 2px;
} 
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 25px;  
  margin-left: 50px;
}
a {
  text-decoration: none;
 color:black;
}
nav a {
  font-weight: 700;
  padding-right: 50px;
}
a:hover {
  color: rgb(213, 56, 69);
}
h1{
  color: blanchedalmond;
  text-transform: uppercase;
  text-shadow: 3px 2px 2px #000000;
  letter-spacing: 1px;
  text-align: center;
}

.galeria{
  margin-left: 20px;
  margin-top: 30px;
  width: 350px;
  float:left; 
}
.galeria img{
 width: 100%;
 height:220px;
 
}
.galeria:hover{
  border: 1px solid black;
  transform: rotate(-3deg);
}
.pie{
  text-align: center;
  padding: 10px;
}

footer {
  background-color:#A2AF9B;
  text-align: center;
  color: #4e2f07;
  padding: 1%;
   margin-top:50%
}