body { 
    background-color: #DCCFC0;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    list-style: none;
    display:flex;
    gap:20px;
    margin: 0%;
    padding: 1%; 
    background-color:#A2AF9B;
    justify-content: right;
    text-transform: uppercase;
}

nav a:hover {
   background-color: azure;
   border: 2px solid;
   border-color: rgb(252, 159, 38);
   color: #310758;
}
article a {
    text-decoration: none;
    color: red;
    font-weight: 1000;
    font-size: 20px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    color: #7C444F;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section{
    background-color: aliceblue;
    height: 80%;
    width: 95%;
    margin: 3%;
    align-content: center;
    display: flex;
    padding: 2px;
}
aside{
 background-color:bisque ;
 padding: 1px;
 margin-left: 25%;
 width: 50%;
}

footer {
    background-color:#A2AF9B;
    text-align: center;
    color: #4e2f07;
    padding: 1%;
    margin-top: 5%;
}