body{
    background-color: rgb(211, 175, 245);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  margin: 0;
  height: 40px;
  align-items: center;
  padding: 15px;
 } 
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 25px;  
  margin-left: 50px;
}
a {
  text-decoration: none;
 color:black;
}
nav a {
  font-weight: 700;
  padding-right: 50px;
}
a:hover {
  color: rgb(213, 56, 69);
}

section{
    background-color: aliceblue;
    height: 80%;
    width: 95%;
    margin: 3%;
    padding: 10px;
}
aside{
 background-color:bisque ;
 padding: 10px;
 margin-left: 20%;
 width: 60%;
  }
  img {
    margin-left: 40%;
    
    }
footer {
    background-color:#A2AF9B;
    text-align: center;
    color: #4e2f07;
    padding: 1%;
    margin-top: 5%;
}